<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html  lang='zh-CN' xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>footer.html</title>
	
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  </head>
  
  <body>
  <footer class="footer" th:fragment="footer">
  <div class="container">
    <p>&copy; 2018 <a href="/">喜闻乐见<span></span></a> &nbsp; 豫ICP备18009334号-1 &nbsp; &nbsp;</p>
  </div>
</footer>
  </body>
</html>
