<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xwlj888.blog.mybatis.ArticleMapper">
  <resultMap id="BaseResultMap" type="cn.xwlj888.blog.pojo.Article">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="contentId" jdbcType="INTEGER" property="contentid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="abstr" jdbcType="VARCHAR" property="abstr" />
    <result column="categoryId" jdbcType="VARCHAR" property="categoryid" />
    <result column="categoryValue" jdbcType="VARCHAR" property="categoryvalue" />
    <result column="imgurl" jdbcType="VARCHAR" property="imgurl" />
    <result column="createDate" jdbcType="DATE" property="createdate" />
    <result column="top" jdbcType="VARCHAR" property="top" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="keyValue" jdbcType="VARCHAR" property="keyvalue" />
  </resultMap>

  <select id="getCount" resultType="Integer">
    select count(1) from  article
  </select>
</mapper>