<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xwlj888.blog.mybatis.CommentMapper">
  <resultMap id="BaseResultMap" type="cn.xwlj888.blog.pojo.Comment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="articleId" jdbcType="VARCHAR" property="articleid" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
  </resultMap>
</mapper>